---
Checks: '*,
  -altera-id-dependent-backward-branch,
  -altera-struct-pack-align,
  -altera-unroll-loops,
  -android-cloexec-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -bugprone-reserved-identifier,
  -bugprone-sizeof-expression,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err33-c,
  -cert-err34-c,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-security.insecureAPI.bcmp,
  -clang-analyzer-security.insecureAPI.bcopy,
  -clang-analyzer-security.insecureAPI.bzero,
  -clang-diagnostic-error,
  -clang-diagnostic-typedef-redefinition,
  -clang-diagnostic-unknown-warning-option,
  -concurrency-mt-unsafe,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -google-readability-braces-around-statements,
  -google-readability-casting,
  -google-readability-function-size,
  -google-readability-todo,
  -hicpp-braces-around-statements,
  -hicpp-function-size,
  -hicpp-multiway-paths-covered,
  -llvm-else-after-return,
  -llvm-header-guard,
  -llvm-include-order,
  -llvmlibc-restrict-system-libc-headers,
  -misc-no-recursion,
  -misc-unused-parameters,
  -performance-no-int-to-ptr,
  -readability-avoid-const-params-in-decls,
  -readability-braces-around-statements,
  -readability-duplicate-include,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-non-const-parameter,
  -readability-redundant-control-flow,
  -readability-redundant-declaration,
  -readability-suspicious-call-argument,


  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -cert-exp42-c,
  -cert-flp37-c,
  -clang-analyzer-core.NullDereference,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-security.insecureAPI.strcpy,
  -cppcoreguidelines-interfaces-global-init,
  -cppcoreguidelines-narrowing-conversions,
  -hicpp-signed-bitwise,
  '

WarningsAsErrors: false
HeaderFilterRegex: '(.*\.h)'
