install/

# This directory is fetched during first build and is present in this directory
subprojects/freeDiameter
subprojects/libtins
subprojects/prometheus-client-c
subprojects/usrsctp

webui/.next

# clangd
/.cache
/compile_commands.json # A symlink to builddir/compile_commands.json
/builddir
