[Unit]
Description=NextEPC MME Daemon
After=networking.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/nextepc-mmed -f /etc/nextepc/mme.cfg
RestartSec=2
RestartPreventExitStatus=1

[Install]
WantedBy=multi-user.target
