#
# NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE 
# NOTE                                                             NOTE
# NOTE  This is an EXAMPLE, which serves only to demonstrate the   NOTE
# NOTE  syntax of radvd.conf, and is not meant to be used for a    NOTE
# NOTE  real radvd configuration.                                  NOTE
# NOTE                                                             NOTE
# NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE 
#

interface ogstun
{
	AdvSendAdvert on;

# This may be needed on some interfaces which are not active when
# radvd starts, but become available later on; see man page for details.

	# IgnoreIfMissing on;

#
# These settings cause advertisements to be sent every 3-10 seconds.  This
# range is good for 6to4 with a dynamic IPv4 address, but can be greatly
# increased when not using 6to4 prefixes.
#

	MinRtrAdvInterval 3;
	MaxRtrAdvInterval 10;

#
# You can use AdvDefaultPreference setting to advertise the preference of
# the router for the purposes of default router determination.
# NOTE: This feature is still being specified and is not widely supported!
#
	AdvDefaultPreference low;

#
# Disable Mobile IPv6 support
#
	AdvHomeAgentFlag off;

#
# Open5GS ogstun prefix
#
	prefix cafe::/64
	{
		AdvOnLink on;
		AdvAutonomous on;
		AdvRouterAddr off;
	};
};

