#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEBIAN  := $(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2)
DEBVERS := $(shell echo '$(DEBIAN)' | cut -d- -f1)
VERSION := $(shell echo '$(DEBVERS)' | sed -e 's/[+-].*//' -e 's/~//g')

# This has to be exported to make some magic below work.
#export DH_OPTIONS
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with autoreconf --with systemd

override_dh_auto_test:
	sctp_exclude_list=; \
	if ! cat /proc/net/protocols | grep SCTP > /dev/null; then \
		sctp_exclude_list="-x testsctp"; \
	fi; \
	lib/core/test/testcore $$sctp_exclude_list || exit; \
