[Match]
Name=ogstun

[Route]
Gateway=0.0.0.0
Destination=10.45.0.0/16

[Route]
Gateway=::
Destination=2001:db8:cafe::0/48

[Link]
MTUBytes=1400
RequiredForOnline=false
