@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-appearance: none;
  -webkit-font-smoothing: subpixel-antialiased;

  font-family: 'Roboto', sans-serif;
  background: #f1f3f5;
}

* {
  box-sizing: inherit;
}
