*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: subpixel-antialiased;

  background: #f1f3f5;
}

.root {
  position: relative;
  overflow: auto;
}