
# MODE Diameter-SIP server (DSSERVER) or Subscriber Locator (SL)
#You must have at least in your network a Diameter SIP server and a Subscriber Locator (on different nodes)
mode = DSSERVER;


# Administrator commands port (port should be provided with "-p" in remote line)
ppr_port=90;
rtr_port=91;


#******************#
#*****DATABASE*****#
#******************#
# DATASOURCE: MYSQL
datasource = MYSQL;

#MYSQL connection details
mysql_login = "login";
mysql_password = "password";
mysql_database = "db";
mysql_server = "server.fr";

#If value=0, default port for mysql will be set
mysql_port = 0;

#Prefix for tables (default is "ds")
mysql_prefix = "ds";
